@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*
{
 margin: 0; /*margin ระยะขอบใช้เพื่อสร้างพื้นที่รอบ ๆ องค์ประกอบนอกขอบเขตที่กำหนดไว้ */
 padding: 0; /*Padding ใช้เพื่อสร้างช่องว่างรอบ ๆ เนื้อหาขององค์ประกอบภายในขอบเขตที่กำหนดไว้ */
 
 box-sizing: border-box;
 font-family: 'Itim', sans-serif;
}
section
{
 position: relative;
 width: 100%;
 min-height: 100vh; /*vh อิงตามคามสูงของขนาดหน้า*/
 padding: 100px;
 justify-content: flex-start; /*จัดตำแหน่งรายการ*/
 align-items: center; /*จัดตำแหน่งกึ่งกลางสำหรับรายการทั้งหมดขององค์ประกอบ <section>*/
 overflow-x: hidden; /*ส่วนที่ล้นถูกตัดออกและส่วนที่เหลือของเนื้อหาจะมองไม่เห็น*/
}
section h2
{   
    position: relative;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s);
}
@keyframes slide_top
{
    0%
    {
        transform: translateX(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
}
section ul li 
{
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 8px 18px;
    min-height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section ul li a
{   
    color: #45a7ec;
    font-weight: 600;
    font-size: 2em; /*กำหนดขนาดตัวอักษรสำหรับ*/
    margin-left: 10px;
    user-select: none; /*ป้องกันการเลือกข้อความ*/  
    opacity: 0;
    animation: slide_bottom 0.5s linear forwards;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes slide_bottom
{
    0%
    {
        transform: translateY(100px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0px);
        opacity: 1;
    }
}