@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', sans-serif;
}
body
{
    background: rgb(207, 242, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side
{
    position: relative;
    background: #313131;
    padding: 40px;
}
.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 2555, 255, 0.2);
}
.profileText .imgBx
{
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;

}
.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    overflow: hidden;
}
.profileText h2
{
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
}
.contactInfo 
{
    padding-top: 40px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 8px 0;
    /* cursor: pointer; */
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 25px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span
{
    color: #fff;
}

.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}
